Repository YAPP-Github/20th-ALL-Rounder-Team-2-Web, pull requests merged in 2022-06, with the labels that each got.

#12 #5 feat: 디자인시스템 컬러 생성
  src/components/Common/Badge/ContainedBadgeStyle.ts
  src/components/Common/Badge/OutlinedBadgeStyle.ts
  src/styles/styles.d.ts
  src/styles/theme.ts
Labels: Style

#18 #10 feat: svg 아이콘 적용
  src/components/Common/Svg/SvgIcon.tsx
  src/components/Common/Svg/SvgSprite.tsx
  src/components/Common/index.ts
  src/pages/_app.tsx
  src/pages/index.tsx
Labels: feature, Style, Component

#19 #4 feat: 앱 폰트 적용
  public/assets/fonts/SUIT-Bold.woff2
  public/assets/fonts/SUIT-Medium.woff2
  public/assets/fonts/SUIT-Regular.woff2
  public/assets/fonts/SUIT-SemiBold.woff2
  src/pages/_app.tsx
  src/pages/index.tsx
  src/styles/font.ts
  src/styles/global-style.ts
Labels: Style

#23 #22 feat: Badge 디자인 수정 및 스토리북 적용
  .storybook/main.js
  package-lock.json
  package.json
  src/components/Common/Badge/ContainedBadge.stories.tsx
  src/components/Common/Badge/ContainedBadgeStyle.ts
  src/components/Common/Badge/OutlinedBadge.stories.tsx
  src/components/Common/Badge/OutlinedBadge.tsx
Labels: feature, Style, Component

#27 #15 feat: 플레이어 프로필 상세 페이지 레이아웃
  public/img/profile.png
  src/components/Common/Layout/Layout.tsx
  src/components/Common/Layout/LayoutStyle.ts
  src/components/Common/Svg/SvgIcon.tsx
  src/components/Common/Svg/SvgSprite.tsx
  src/components/Common/Typograpy/Typograpy.tsx
  src/components/Common/Typograpy/TypograpyStyle.ts
  src/components/Common/index.ts
  src/components/Profile/Introduction/Introduction.tsx
  src/components/Profile/Introduction/IntroductionStyle.ts
  src/components/Profile/ProfileHeader/ProfileHeader.tsx
  src/components/Profile/ProfileHeader/ProfileHeaderStyle.ts
  src/components/Profile/index.ts
  src/pages/profile/[id].tsx
Labels: feature, Style, Page

#26 #24 feat: Form 컴포넌트 스토리북 적용
  src/components/Common/Forms/Input/Input.stories.tsx
  src/components/Common/Forms/Input/Input.tsx
  src/components/Common/Forms/TextArea/TextArea.stories.tsx
  src/components/Common/Forms/TextArea/TextArea.tsx
Labels: feature, Style, Component

#35 #34 chore: 도커 파일 작성
  .dockerignore
  Dockerfile
Labels: Chore

#30 #17 feat: 클래스 상세 페이지 레이아웃
  package-lock.json
  src/components/ClassDetail/ClassDetailStyle.ts
  src/components/ClassDetail/ClassInfo/ClassImages.tsx
  src/components/ClassDetail/ClassInfo/ClassInfo.tsx
  src/components/ClassDetail/ClassInfo/ClassInfoStyle.ts
  src/components/ClassDetail/CoachProfile/CoachProfile.tsx
  src/components/ClassDetail/CoachProfile/CoachProfileStyle.ts
  src/components/ClassDetail/Guideline/Guideline.tsx
  src/components/ClassDetail/Guideline/GuidelineStyle.ts
  src/components/ClassDetail/HowToUse/HowToUse.tsx
  src/components/ClassDetail/HowToUse/HowToUseStyle.ts
  src/components/ClassDetail/index.ts
  src/pages/class-detail/[id].tsx
Labels: feature, Style, Page

#37 #36 style: 클래스 상세 페이지 텍스트 색상 수정
  src/components/ClassDetail/ClassInfo/ClassInfo.tsx
  src/components/ClassDetail/CoachProfile/CoachProfile.tsx
  src/components/ClassDetail/Guideline/Guideline.tsx
  src/components/ClassDetail/Guideline/GuidelineStyle.ts
  src/components/ClassDetail/HowToUse/HowToUse.tsx
Labels: Style, Page

#41 #39 style: Badge 컴포넌트 텍스트 스타일 수정
  src/components/Common/Badge/ContainedBadge.tsx
  src/components/Common/Badge/ContainedBadgeStyle.ts
  src/components/Common/Badge/OutlinedBadge.tsx
  src/components/Common/Badge/OutlinedBadgeStyle.ts
Labels: Style, Component

#42 #16 feat: 코치 프로필 상세 페이지 레이아웃
  src/components/Common/Button/TextMore/TextMoreButton.tsx
  src/components/Common/Button/TextMore/TextMoreButtonStyle.ts
  src/components/Common/Typograpy/TypograpyStyle.ts
  src/components/Profile/ClassReview/ClassReview.tsx
  src/components/Profile/ClassReview/ClassReviewStyle.ts
  src/components/Profile/ClassReview/Review.tsx
  src/components/Profile/Introduction/Introduction.tsx
  src/components/Profile/ProfileHeader/ProfileHeader.tsx
  src/components/Profile/ProfileHeader/ProfileHeaderStyle.ts
  src/components/Profile/index.ts
  src/pages/profile/[id].tsx
Labels: feature, Style, Page

#46 #45 chore: docker 이미지 경량화
  Dockerfile
Labels: feature, Chore

#47 #25 feat: 홈(메인) 페이지 레이아웃
  package-lock.json
  package.json
  src/components/Common/Layout/Layout.tsx
  src/components/Common/Layout/LayoutStyle.ts
  src/components/Common/SearchBar/SearchBar.tsx
  src/components/Common/SearchBar/SearchBarStyle.ts
  src/components/Common/Svg/SvgIcon.tsx
  src/components/Common/Svg/SvgSprite.tsx
  src/components/Common/index.ts
  src/components/Home/Category/Category.tsx
  src/components/Home/Category/CategoryStyle.ts
  src/components/Home/LectureCard/LectureCard.tsx
  src/components/Home/LectureCard/LectureCardStyle.ts
  src/components/Home/LectureList/LectureList.tsx
  src/components/Home/LectureList/LectureListStyle.ts
  src/components/Home/index.ts
  src/components/Layout/Layout/Layout.tsx
  src/components/Layout/Layout/LayoutStyle.ts
  src/components/Layout/Section/Section.tsx
  src/components/Layout/Section/SectionStyle.ts
  src/components/Layout/index.ts
  src/pages/_app.tsx
  src/pages/category/index.tsx
  src/pages/index.tsx
  src/pages/profile/[id].tsx
Labels: feature, Style, Component, Page
