Repository YAPP-Github/20th-ALL-Rounder-Team-2-Web, pull requests merged in 2022-08, with the labels that each got.

#202 #194 feat: [웹뷰] 클래스 목록 렌더링 방식 및 UI 수정
  packages/knowlly-webview/src/components/Common/Svg/SvgIcon.tsx
  packages/knowlly-webview/src/components/Common/Svg/SvgSprite.tsx
  packages/knowlly-webview/src/components/Home/EmptyLectureList/EmptyLectureList.tsx
  packages/knowlly-webview/src/components/Home/LectureCard/LectureCard.tsx
  packages/knowlly-webview/src/components/Home/LectureCard/LectureCardStyle.ts
  packages/knowlly-webview/src/components/Home/LectureCard/LoadingCard.tsx
  packages/knowlly-webview/src/hooks/home/useLectureInfo.ts
  packages/knowlly-webview/src/pages/index.tsx
  packages/knowlly-webview/src/pages/lecture-category/[name].tsx
  packages/knowlly-webview/src/types/lectureInfo.ts
Labels: feature, bug, Webview

#203 #196 feat: [랜딩페이지] Footer 구현
  packages/knowlly-landing/src/components/Footer/Footer.tsx
  packages/knowlly-landing/src/components/Footer/FooterStyle.ts
  packages/knowlly-landing/src/pages/index.tsx
  packages/knowlly-landing/src/styles/theme.ts
  packages/knowlly-landing/tsconfig.json
Labels: feature, Style, Component, Landing

#206 #197 feat: [랜딩페이지] 세 번째 컴포넌트(주요 기능 안내) 구현
  packages/common-styles/src/font.ts
  packages/knowlly-landing/public/img/coach-lecture-phone.png
  packages/knowlly-landing/public/img/player-lecture-phone.png
  packages/knowlly-landing/public/img/review-phone.png
  packages/knowlly-landing/src/components/Feature/Feature.tsx
  packages/knowlly-landing/src/components/Feature/FeatureStyle.ts
  packages/knowlly-landing/src/pages/index.tsx
Labels: feature, Style, Component, Landing

#209 #158 feat: [웹뷰] 운영클래스 웹뷰 페이지 스켈레톤 UI 적용
  packages/knowlly-webview/src/components/CoachLecture/FormDetail/Loading/Loading.tsx
  packages/knowlly-webview/src/components/CoachLecture/FormDetail/Loading/LoadingStyle.ts
  packages/knowlly-webview/src/components/CoachLecture/FormDetail/PlayerSchedule/PlayerSchedule.tsx
  packages/knowlly-webview/src/components/CoachLecture/FormDetail/PlayerUser/PlayerUser.tsx
  packages/knowlly-webview/src/components/CoachLecture/index.ts
  packages/knowlly-webview/src/pages/coach-lecture/form-detail/[id].tsx
Labels: feature, Style, Page

#213 #212 chore: [웹뷰, 랜딩페이지] tsconfig exclude 옵션 추가
  packages/knowlly-landing/tsconfig.json
  packages/knowlly-webview/tsconfig.json
Labels: Chore, bug

#214 #210 feat: [랜딩페이지] 첫 번째 컴포넌트(앱 소개) 구현
  packages/knowlly-landing/public/img/app-qrcode.png
  packages/knowlly-landing/public/img/app-store.png
  packages/knowlly-landing/public/img/knowlly-app.png
  packages/knowlly-landing/src/components/Common/Svg/SvgIcon.tsx
  packages/knowlly-landing/src/components/Common/Svg/SvgSprite.tsx
  packages/knowlly-landing/src/components/Introduce/App/App.tsx
  packages/knowlly-landing/src/components/Introduce/App/AppStyle.ts
  packages/knowlly-landing/src/components/Introduce/Service/Service.tsx
  packages/knowlly-landing/src/components/Introduce/index.ts
  packages/knowlly-landing/src/hooks/useScrollFadeIn.ts
  packages/knowlly-landing/src/pages/index.tsx
  packages/knowlly-landing/src/styles/Home.module.css
Labels: feature, Component, Landing

#216 #215 modify: [웹뷰] 하드코딩 되어있는 userId값 수정
  packages/knowlly-webview/src/components/LectureDetail/MatchingButton/MatchingButton.tsx
  packages/knowlly-webview/src/pages/lecture-detail/[id].tsx
Labels: modify

#217 #211 feat: [랜딩페이지] 두 번째 컴포넌트(앱 주요 서비스 안내)구현
  packages/knowlly-landing/public/img/service-background.png
  packages/knowlly-landing/public/img/service-content.png
  packages/knowlly-landing/src/components/Introduce/Service/Service.tsx
  packages/knowlly-landing/src/components/Introduce/Service/ServiceStyle.ts
  packages/knowlly-landing/src/hooks/useInViewport.ts
  packages/knowlly-landing/src/pages/_app.tsx
Labels: feature, Style, Landing

#219 #218 style: [랜딩페이지] 디자인 수정
  packages/knowlly-landing/src/components/Download/Download.tsx
  packages/knowlly-landing/src/components/Download/DownloadStyle.ts
  packages/knowlly-landing/src/components/Feature/FeatureStyle.ts
Labels: Style, Landing

#223 #222 feat: Nextjs 12버전에 따른 next.config 파일 수정
  packages/knowlly-landing/.babelrc
  packages/knowlly-landing/next.config.js
  packages/knowlly-webview/.babelrc
  packages/knowlly-webview/next.config.js
Labels: feature

#224 #221 feat: [웹뷰] 클래스 목록 카드 UI 수정
  packages/knowlly-webview/src/components/Home/LectureCard/LectureCard.tsx
  packages/knowlly-webview/src/components/Home/LectureCard/LectureCardStyle.ts
  packages/knowlly-webview/src/components/Home/LectureCard/LoadingCardStyle.ts
Labels: feature, Style

#225 #220 feat: [웹뷰] 클래스 목록 무한 스크롤 기능 수정
  packages/knowlly-webview/src/hooks/home/useInfiniteLecture.ts
  packages/knowlly-webview/src/pages/lecture-category/[name].tsx
  packages/knowlly-webview/src/pages/lecture-search/index.tsx
Labels: feature
